*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color:#faf2f2;
}
/* HEADER */
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: linear-gradient(rgb(211, 129, 48),rgb(221, 158, 94),rgb(235, 194, 153),rgb(235, 194, 153),rgb(221, 158, 94),rgb(211, 129, 48));
    opacity: 86%;
    position: fixed;
    z-index: 1000;
}
.logo img{
    max-width: 70px;
    height: auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

}
.navmenu{
    display: flex;
}

.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;

    display: block;
    font-weight: 400;
    text-decoration: none;
}
.navmenu ul{
    background: transparent;
    list-style: none;
    width: 100%;
}
.navmenu li{
    float: left;
    position: relative;
    width: auto;
}
.navmenu a:hover{
    color: #ee1c47;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transition: scale(1.1);
    color: #ee1c47;
}
/* menu */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
.slide{
    height: 100%;
    width: 200px;
    position: absolute;
    background:rgb(235, 194, 153);
    padding-bottom: px;
    transition: 0.5s ease;
    transform: translateX(500px);
}
.slide h1{
    color:#281201;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    padding: 10px 0;
    padding-left: 50px;
    padding-right: 30px;
    pointer-events: none;
}
.slide ul li{
    list-style: none;
    background-color: rgb(254, 254, 254);
}
.slide ul li:hover a{
    color: #fff;
    background-color: rgb(211, 129, 48);
}
.slide ul li a{
    color: #000206;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
}
.slide ul li a i{
    width: 40px;
    text-align: center;
}
.slid input{
    display: none;
    visibility: hidden;
   /* -webkit-appearance: none; */
}
.toggle{
    position: relative;
    height: 30px;
    width: 30px;
    top: 0px;
    left: 2px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: 0,0,10px rgba(0,0,0,0.3);
}
.toggle .common{
    position: absolute;
    height: 2.5px;
    width: 25px;
    background-color: #000000;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform:  translate(-50%, -50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform:  translate(-50%, -50%);
}
input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translate(20px);
}
input:checked ~ .slide{
    transform: translateX(-18px);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}



/* submenu */

#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    border-radius: 30px;
}
li:hover ul#submenu{
    opacity: 1;
    top: 36px;
    width: 180px;
    visibility: visible;
}
#submenu li{
    float: none;
    width: 100%;
}
#submenu a:hover{
    background: white;
}
#submenu a{
    background: wheat;

}
/*sub-menu-2  */
.sub-menu-2{
    display: none;
    border-radius: 10px;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -42px;
    margin-left: 180px;
    background-image: linear-gradient(#b3a191,rgb(75, 62, 49));
    background: white;
    border-radius: 10px;
    top: 42px;
    width: 130px;
    text-align: center;
}
.hover-me i{
    float: right;
}

/* search box */

.box{
    display: flex;
    cursor: pointer;
    background: transparent;
}
.box:hover input{
    width: 200px;
    height: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0 , 0.3);
    border-radius: 30px;
    align-items: center;
    padding: 15px;

}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.box a .i{
    font-size: 18px;
    text-align: right;
}
/* java.js */
header.sticky{
    background:rgb(235, 194, 153);
    padding: 0px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

}

/* section */
.hero{
    height: 100%;
    width: 100%;
    background-color:#faf2f2;
    background-position: center;
    background-size: cover;
    position: absolute;
    padding-top: 30px;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: rgb(211, 129, 48); 
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 5px #553003;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: wheat;
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #ffffff3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #c4bfbf;
    -webkit-text-fill-color: rgb(51, 19, 1);
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: wheat;
    border: 0;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 0px 3px #553003;

}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}
#register{
    left: 450px;
}
